<header>    
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" [routerLink]="['/']">Proyecto</a>
          <ul *ngIf="isLoggedIn()" class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/tickets/abiertos']" routerLinkActive="active">Solicitudes abiertas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/tickets/enproceso']" routerLinkActive="active">Solicitudes en proceso</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/tickets/cerrados']" routerLinkActive="active">Solicitudes cerradas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/tickets/historico']" routerLinkActive="active">Histórico de solicitudes</a>
            </li>
          </ul>
          <ul *ngIf="isLoggedIn()" class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']" (click)="logout()">DESCONECTARSE</a>
            </li>
          </ul>
          <ul *ngIf="!isLoggedIn()" class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">ACCEDER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">REGISTRARSE</a>
            </li>
          </ul>
        </div>
    </nav>
</header>
