.login {
    margin-top: 10px;
}

.login mat-card {
    padding: 0;
}

.login-form {
    padding: 20px;
}

.login button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login span {
    font-size: 0.8em;
    text-align: center;
}