@import "styles.scss";

.container {
    margin-top: 2%;
}

.doc-header {
    background-color: $header-bg;
    color: $header-color;
}

.doc-component {
    background-color: $component-bg;
    color: $component-color;
}

.openticket {
    background-color: $openticket-bg;
}

.pendingticket {
    background-color: $pendingticket-bg;
}
.closedticket {
    background-color: $closedticket-bg;
}