<div class="container">
    <div *ngIf="!isAdmin()" class="jumbotron">
        <h1 class="display-4">Bienvenido!</h1>
        <p class="lead">Estimado(a) {{this.profile.name}}, este es el sitio oficial de Servicio al Cliente.</p>
        <hr class="my-4">
        <button class="btn btn-info btn-lg mr-1 mb-1" [routerLink]="['/ticket/nuevo']">Abrir solicitud</button>
        <button class="btn btn-success btn-lg mr-1 mb-1" [routerLink]="['/tickets/abiertos']">Mis solicitudes abiertas</button>
        <button class="btn btn-warning btn-lg mr-1 mb-1" [routerLink]="['/tickets/enproceso']">Mis solicitudes en proceso</button>
        <button class="btn btn-danger btn-lg mr-1 mb-1" [routerLink]="['/tickets/cerrados']">Mis solicitudes cerradas</button>
        <button class="btn btn-secondary btn-lg mr-1 mb-1" [routerLink]="['/tickets/historico']">Histórico de solicitudes</button>
    </div>
    <div *ngIf="isAdmin()" class="jumbotron">
        <h1 class="display-4">Bienvenido!</h1>
        <p class="lead">Estimado(a) administrador {{this.profile.name}}, este es el panel de gestión de solicitudes.</p>
        <hr class="my-4">
        <button class="btn btn-info btn-lg mr-1 mb-1" [routerLink]="['/admin/tickets']">Reporte histórico de solicitudes</button>
        <button class="btn btn-success btn-lg mr-1 mb-1" [routerLink]="['/admin/usuarios']">Reporte de usuarios registrados</button>
    </div>
</div>