<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido!</h1>
        <p class="lead">Este es el sitio oficial de servicio al cliente de @nombre_empresa.</p>
        <hr class="my-4">

        <button class="btn btn-info btn-lg mr-1 mb-1">Abrir solicitud</button>
        <button class="btn btn-success btn-lg mr-1 mb-1">Solicitudes abiertas</button>
        <button class="btn btn-warning btn-lg mr-1 mb-1">Solicitudes en proceso</button>
        <button class="btn btn-danger btn-lg mr-1 mb-1">Solicitudes cerradas</button>
    </div>

    <div>
        <p>home works!</p>
    </div>
</div>  