.card {
    margin-top: 2%;
}

.card-body {
    max-width: 340px;
}

.card-body .btn {
    width: 100%;
}

.form-group {
    padding-bottom: 10px;
}

.form-validator {
    color: #dc3545;
    font-size: 0.8em;
}