<div class="d-flex justify-content-center">   
    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <alert *ngIf="failedLogin" type="danger" [dismissible]="true"> 
                ¡El correo y/o la contraseña que has escrito son incorrectos!
            </alert>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group">
                    <label>Correo electrónico</label>
                    <input type="email" class="form-control" formControlName="email">
                    <div *ngIf="loginForm.get('email')?.errors?.email" class="form-validator">
                        Por favor, introduce un correo electrónico válido.
                    </div>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Recuérdame</label>
                </div>
                <div class="form-group">
                    <re-captcha formControlName="recaptcha" (resolved)="captchaResolved($event)" (error)="captchaOnError($event)" errorMode="handled" siteKey="6LdY3g4bAAAAAAILfMJwbcMN9oCexnR0JPgle_yt"></re-captcha>
                </div>
                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">ACCEDER</button>
            </form>
        </div>
    </div>
</div>