/* You can add global styles to this file, and also import other style files */
body { 
    background-color: #f0f0f0;
}

$header-bg: #4d5155;
$header-color: #fff;
$component-bg: #fff;
$component-color: #212529;

$openticket-bg: #28a74566;
$pendingticket-bg: #ffc10766;
$closedticket-bg: #dc354566;